@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;700&family=Teko:wght@300;400;700&display=swap');

body{
    font-family: 'Teko', sans-serif;

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    font-size: 35px;
}

ul {
    list-style: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hero section*/
#hero {
    background-image: url(./portfolio.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 30px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    
}

nav ul li a:hover {
    color: #f9004d;
    transition: .4s;

}

#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;

}

#hero.hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}



#hero h1 {
    display: block;
    width: fit-content;
    font-size: 8rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
   
}

#hero h1:nth-child(1) {
    animation-delay: 1s;
}

#hero h1:nth-child(2) {
    animation-delay: 2s;
}

#hero h1:nth-child(3) {
    animation-delay: 3s;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgb(14, 242, 230);
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}

#hero h1:nth-child(1)span {
    animation-delay: .5s;

}

#hero h1:nth-child(2)span {
    animation-delay: 1.5s;

}

#hero h1:nth-child(3)span {
    animation-delay: 2.5s;

}

#hero .cta {
    display: inline-block;
    padding: 10px 30px;
    color: blueviolet;
    background-color: transparent;
    border: 2px solid blue;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease background-color;
}

#hero .cta:hover {
    color: white;
    background-color: blue;
}

.hero img {
    height: auto;
        width: 430px;
  }

/* Keyframes*/
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;

    }

    100% {
        width: 0%;
        left: 100;
    }
}

@keyframes text_reveal {
    100% {
        color: aqua;

    }
}



#projects {
    padding: 30px 0;
    background-image: url(./portfolio2.jpg);
}

.project-list {
    display: grid;
    grid-template-columns: 40%;
    grid-gap: 40px;
    margin-top: 50px;
    margin-left: 5%;

}

.project-list div {
    background: #0d8bdf;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.project-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}



.project-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    margin-top: 20px;
    display: inline-block;
}

.project-list div:hover {
    background: #256a6a;
    transform: translateY(-10px);
}

.sub-title h1 {
    font-size: 60px;
    font-weight: 600;
    align-content: center;
    color: #f9004d;


}
.project-list div p{
    font-size: 35px;
}
.project-list div h2{
    font-size: 40px;
}



.about {
    width: 100%;
    padding: 100px 0px;


}





.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 35px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: #fff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 33px;
    margin-bottom: 45px;
}

span {
    color: rgb(13, 221, 228);
}

h1 {
    text-align: center;


}

h3 {
    margin: 5px;
font-size: 35px;
}

.skill {
    width: 500px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0.25)0 10px 10px rgba(0, 0, 0.22);
}

.skill li {
    margin: 20px 0;
    padding: 10px;
}

.bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0.12)0 1px 2px rgba(0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

}

.bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0.25)0 10px 10px rgba(0, 0, 0.22);
}

.bar span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
}

.HTML {
    width: 90%;
    animation: HTML 3s;

}

.CSS {
    width: 50%;
    animation: CSS 3s;
}

.JAVASCRIPT {
    width: 30%;
    animation: JAVASCRIPT 3s;
}

.CPP {
    width: 50%;
    animation: CPP 3s;
}

.SQL {
    width: 95%;
    animation: SQL 3s;
}

@keyframes HTML {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }

}

@keyframes CSS {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }

}

@keyframes JAVASCRIPT {
    0% {
        width: 0%;
    }

    100% {
        width: 30%;
    }

}

@keyframes CPP {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }

}

@keyframes CPP {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }

}


.contactus {
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.contactus .title {
    display: flex;
    font-size: 2rem;
}

.contactus .title h2 {
    color: aqua;
    font-weight: 500px;
    font-size: 75px;

}

.box {
    position: relative;
    display: grid;
    grid-template-areas:
        "form info";
    grid-gap: 20px;
    margin-top: 20px;

}

.contact_form {
    padding: 40px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15)
}

.contact_form h3 {
    color: #0e3959;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}


.formBox {
    position: relative;
    width: 100%;
    display: flex;
    gap: 20px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.inputBox span {
    color: #18b7ff;
    margin-top: 30px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 25px;
}

.inputBox input {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}

.inputBox input[type="submit"] {
    background: #ff578b;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

.inputBox::placeholder {
    color: #999;
}

.contact_info {
    background: #0e3959;
    padding: 20px 10px;
}

.contact_info h3 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 50px;
}

.contact_info .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;


}

.contact_info .infoBox div span {
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 50%;
    margin-right: 15px;

}

.contact_info .infoBox div p {
    color: #fff;
    font-size: 30px;
}

.contact_info .infoBox div a {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}

.sci {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.sci a {
    color: white;
    padding-right: 8px;
    font-size: 500px;
    color: #ccc;
}

.sci a:hover {
    color: #fff;
}

.form {
    background-color: #0000003a;
}

.title h2 {
    color: aqua;
    scroll-behavior: smooth;
}
